<kendo-grid *ngIf="!isDetail" #grid [data]="gridData"
            [skip]="state.skip"
            [sort]="state.sort"
            [group]="state.group"
            [filter]="state.filter"
            [sortable]="true"
            [filterable]="true"
            [pageSize]="pageSize"
            [pageable]="{
          buttonCount: buttonCount,
          info: info,
          type: type,
          pageSizes: pageSizes,
          previousNext: previousNext
        }"
            [groupable]="true"
            (dataStateChange)="dataStateChange($event)"
            [resizable]="true">
  <ng-template kendoGridToolbarTemplate>
    <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
  </ng-template>
  <kendo-grid-column title="SN" filter="numeric" width="100">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{rowIndex+1}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="productID" title="Product ID" filter="numeric" width="150"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="productNumber" title="Product Number"></kendo-grid-column>
  <kendo-grid-column field="listPrice" title="List Price" format="{0:c}"></kendo-grid-column>
  <kendo-grid-command-column title="command">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
      <a kendoGridRemoveCommand [routerLink]="['/detail',dataItem.productID]">View</a>

    </ng-template>
  </kendo-grid-command-column>
  <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>

</kendo-grid>
<span *ngIf="!isDataLoaded" class="k-i-loading k-icon" style="font-size: 64px; margin-left:50%"></span>

<div *ngIf="isDetail">
  <app-product-detail></app-product-detail>
</div>
<!--[pageSize]="pageSizes"-->
