
<a [routerLink]="['']">Back to List</a>

<table class="table table-striped" *ngIf="gridDetailData">
  <thead>
    <tr>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product ID</td>
      <td>{{gridDetailData.productID}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{gridDetailData.name}}</td>
    </tr>
    <tr>
      <td>Color</td>
      <td>{{gridDetailData.color}}</td>
    </tr>
    <tr>
      <td>Size</td>
      <td>{{gridDetailData.size}}</td>
    </tr>
  </tbody>
</table>

<span *ngIf="!gridDetailData && !isError" class="k-i-loading k-icon" style="font-size: 64px; margin-left:50%"></span>

<div *ngIf="isCostHistoryAvailable">

  <kendo-grid #grid [data]="gridCostHistory"
              [group]="state.group"
              [filter]="state.filter"
              [sortable]="true"
              [filterable]="true"
              [pageable]="true"
              [pageSize]="state.take"
              [groupable]="true"
              [resizable]="true">
    <ng-template kendoGridToolbarTemplate>
      <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
    </ng-template>
    <kendo-grid-column title="SN" filter="numeric" width="100">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{rowIndex+1}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="startDate" title="Start Date" filter="date" [format]="{date:'short'}"></kendo-grid-column>
    <kendo-grid-column field="endDate" title="End date" filter="date" [format]="{date:'short'}"></kendo-grid-column>
    <kendo-grid-column field="standardCost" title="Standard Cost" format="{0:c}"></kendo-grid-column>

    <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>

  </kendo-grid>
</div>
  <span *ngIf="!isCostHistoryAvailable && !isError" style="text-align:center">
    <h4>No Product Cost available!</h4>
  </span>
  <h4 style="text-align:center">
    {{errorMessage}}
  </h4>
